.recipeFormControl {
    margin-bottom: .5rem;
    background-color: transparent;
    border: 1px solid midnightblue;
    color: midnightblue;
}

.recipeFormControl::placeholder{
    color: midnightblue
}

.recipeFormBtn {
    width: 100%;
    background: linear-gradient(to bottom right,royalblue, midnightblue, cornflowerblue);
    border: 0px;
    color:whitesmoke;
}