.recipeFormControl, .recipeFormControl:link, .recipeFormControl:hover, .recipeFormControl:active, .recipeFormControl:focus, .recipeFormControl:visited {
    margin-bottom: .5rem;
    background-color: transparent;
    border: 1px solid midnightblue;
    color: midnightblue;
}

.recipeFormControl::placeholder{
    color: midnightblue
}

.recipeFormBtn, .recipeFormBtn:link, .recipeFormBtn:hover, .recipeFormBtn:active, .recipeFormBtn:focus, .recipeFormBtn:visited{
    width: 100%;
    background: linear-gradient(to bottom right,royalblue, midnightblue, cornflowerblue);
    border: 0px;
    color:whitesmoke;
}