.RecipeCard {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    /* background: linear-gradient(to top left, transparent, gold, goldenrod, yellow); */
    background: linear-gradient(to top left,goldenrod, lightgoldenrodyellow, goldenrod)
}
.RecipeCardImage {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}
.ingreCardHeader{
    color:midnightblue;
    text-align: center;
    background: linear-gradient(to bottom left, gold, goldenrod, yellow);
}
.ingreAccordion{
    background: linear-gradient(to bottom left, gold, goldenrod, yellow);
    color: midnightblue;
}

.ingreGroupBody{
    /* background: linear-gradient(to bottom left, transparent,goldenrod, lightgoldenrodyellow); */
    color: firebrick;
}
.ingreGroupList{
    background: transparent;
    color:firebrick;
}

.ingreCardFooter{
    color:midnightblue;
    text-align: center;
    /* background: linear-gradient(to bottom left, transparent, gold, goldenrod, yellow); */
}

.likeBadge{
 font-size: 20px;
}

.recipeCardViewBtn, .recipeCardViewBtn:link, .recipeCardViewBtn:hover, .recipeCardViewBtn:active, .recipeCardViewBtn:focus, .recipeCardViewBtn:visited {
    color:midnightblue;
    text-decoration: none;
    margin:0 auto;
    font-size: 20px;
}

@media screen and (max-width: 580px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 500px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 830px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 550px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}


@media screen and (max-width: 600px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 500px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 500px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 425px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 450px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 350px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 350px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 300px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}