.RecipeCard {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    background: linear-gradient(powderblue, lavender)
}
.RecipeCardImage {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}
.ingreCardHeader{
    color:midnightblue;
    text-align: center;
    font-size: 24px;
    background: whitesmoke;
}
.ingreAccordion{
    border: 1px solid midnightblue;
    background: whitesmoke;
    color: midnightblue;
}

.ingreGroupBody{
 
    color: firebrick;
}
.ingreGroupList{
    background: transparent;
    color:firebrick;
}

.ingreCardFooter{
    color:midnightblue;
    text-align: center;
}

.likeBadge{
 font-size: 20px;
}

.heartIcon {
    color: red;
}

.recipeCardViewBtn {
    color:midnightblue;
    text-decoration: none;
    margin:0 auto;
    font-size: 20px;
}

@media screen and (max-width: 580px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 500px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 830px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 550px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}


@media screen and (max-width: 600px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 500px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 500px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 425px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 450px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 350px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 350px){
    .RecipeCard {
        width: 100vw
    }
    .RecipeCardImage {
        width: 300px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}