.NavBar {
    background: linear-gradient( moccasin, beige);
}

div.dropdown-menu.show {
    background:transparent;
    border:1px solid black;
    /* background: linear-gradient(goldenrod,yellow, orangered) */
}

a.dropdown-item {
    color: black; 
}

.dropdown-item.active, .dropdown-item:active {
    background-color: goldenrod;
    color: black;
    text-decoration: none
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid black;
}

#nav-dropdown{
    font-weight: bold;
}