.NoPageCard {
    width: 24rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 0px;
    border-radius: 15px;
    background: linear-gradient(to top left, transparent, lightgoldenrodyellow)
}

.addRecipeBtn, .addRecipeBtn:link, .addRecipeBtn:hover, .addRecipeBtn:active, .addRecipeBtn:focus, .addRecipeBtn:visited {
    width: 45%;
    margin-top:5px;
    border-radius:15px;
    background: linear-gradient(to bottom left, transparent, gold, goldenrod);
    border: 0px;
    color:midnightblue;
}

@media screen and (max-width: 420px){
    .addRecipeBtn, .addRecipeBtn:link, .addRecipeBtn:hover, .addRecipeBtn:active, .addRecipeBtn:focus, .addRecipeBtn:visited {
        width: 60%;
        margin-top:5px;
        border-radius:15px;
        background: linear-gradient(to bottom left, transparent, gold, goldenrod);
        border: 0px;
        color:midnightblue;
    }

}