.NoPage{
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    border: 0px;
    color:royalblue;
    background: linear-gradient(to bottom left, whitesmoke,lavender)
}