.NoPage{
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 0px;
    color:royalblue;
    background: linear-gradient(to bottom right, lightgoldenrodyellow, transparent)
}