.SignInCard {
     width: 22rem;
     margin-left: auto;
     margin-right: auto;
     margin-top: 3rem;
     border: 0px;
     background: linear-gradient(to bottom left, whitesmoke,lavender)
}

.signInFormControl  {
     margin-bottom: 5px;
     background-color: transparent;
     border: 1px solid midnightblue;
     color: midnightblue;
}

.signInFormControl::placeholder{
     color: midnightblue
}

.signInBtn {
     width: 100%;
     background: linear-gradient(to bottom right,royalblue, midnightblue, cornflowerblue);
     border: 0px;
     color:whitesmoke;
}

.signInLink {
     text-decoration: none;
     color:midnightblue;
}