.profileCard{
    background: linear-gradient(powderblue, lavender);
    color:midnightblue;
  
}
.profileRecipeCard {
    background: linear-gradient(powderblue, lavender);
    color:midnightblue;
   
}

#controlled-tab-example-tab-recipe, #controlled-tab-example-tab-savedRecipes{
    border: 1px solid whitesmoke;
    color:midnightblue;
    font-weight: bold;
}

.editProfileBtn {
    width: 100%;
    background: linear-gradient(to bottom right,royalblue, midnightblue, cornflowerblue);
    border: 0px;
    color:whitesmoke;

}

.profileTabs {
    background: lavender;
}

.recipeDeleteBtn {
    color:crimson;
}

.profileSearchBar {
    background: transparent;
    border: 2px solid midnightblue;
    border-radius: 15px;
    color:midnightblue
}

.profileSearchBar::placeholder{
    color: midnightblue;
    font-weight: bold;
}

.RecipeListGroup {
    padding: 10px;
    color: midnightblue;
    background: transparent;
    text-decoration: none;
}

@media screen and (max-width: 767px){
    .ProfileImage {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        height:auto;
    }
}

@media screen and (max-width: 400px){
    .ProfileImage {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        height:auto;
    }
}
@media screen and (max-width: 300px){
    .profileCard{
        width:100%;
    }

    .ProfileImage {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        height:auto;
    }
}