
@media screen and (max-width: 767px){
    .ProfileImage {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        height:auto;
    }
}

@media screen and (max-width: 400px){
    .ProfileImage {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        height:auto;
    }
}