.homeSearchBar, .homeSearchBar:hover, .homeSearchBar:active, .homeSearchBar:focus{
    /* background: transparent; */
    background: linear-gradient(transparent, midnightblue);
    border: 1px solid lightgoldenrodyellow;
    border-radius: 15px;
    color:lightgoldenrodyellow
}

.homeSearchBar::placeholder{
    color: lightgoldenrodyellow
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    background-color: firebrick;
}

body {
    background: url('https://i.imgur.com/gNcjsZc.jpg') center center fixed; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    