.homeSearchBar, .homeSearchBar:hover, .homeSearchBar:active, .homeSearchBar:focus{
    background: linear-gradient(to bottom right,royalblue,cornflowerblue);
    border: 1px solid whitesmoke;
    color:whitesmoke;
	width: 21rem;
	margin-left: auto;
	margin-right: auto;
	position: sticky;
	top: 0;
	z-index: 1;
}

.arrowUp {
	margin-top: .5rem;
	font-weight: bold;
	font-size: 24px;
}

.homeSearchBar::placeholder{
    color: whitesmoke
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    background-color: firebrick;
}

h1 {
    text-align: center;
    color: black;
	font-weight: bold;
}

body {
	height: 100vh;
	font-family: 'Courier New', Courier, monospace;
    background: 
	repeating-linear-gradient(
		90deg,
		transparent,
		transparent 1em,
		moccasin 0,
		moccasin 2em,
		transparent 0,
		transparent 3em,
		powderblue 0,
		powderblue 4em,
		transparent 0,
		transparent 5em,
		lavender 0,
		lavender 6em,
		transparent 0,
		transparent 7em,
		beige 0,
		beige 8em
	),
	repeating-linear-gradient(
		0deg,
		transparent,
		transparent 1em,
		khaki 0,
		khaki 2em,
		transparent 0,
		transparent 3em,
		beige 0,
		beige 4em,
		transparent 0,
		transparent 5em,
		peachpuff 0,
		peachpuff 6em
		), whitesmoke;

	background-blend-mode: multiply;
}
    