.accoutNameLink, .accoutNameLink:hover, .accoutNameLink:active, .accoutNameLink:focus {
    color: black;
    text-decoration: none;
}

.modalProfilImage{
    width: 175px;
    margin-top:10px;
    margin-right: 15px;
    height:auto;
}

.modalTitle{
    margin-top: 35px;
    color:midnightblue;
}

.modalBody{
    margin: 0 auto;
}
.modal-content{
    background: linear-gradient(goldenrod,gold, yellow,orange,orangered);
}

.viewProfileLinkBtn, .viewProfileLinkBtn:link, .viewProfileLinkBtn:hover, .viewProfileLinkBtn:active, .viewProfileLinkBtn:focus, .viewProfileLinkBtn:visited {
    text-decoration: none;
    color:midnightblue;
}

.signOutBtn, .signOutBtn:link, .signOutBtn:hover, .signOutBtn:active, .signOutBtn:focus, .signOutBtn:visited {
    width: 100%;
    background: linear-gradient(to bottom left, transparent, gold, goldenrod);
    border: 0px;
    color:midnightblue;
}


@media screen and (max-width: 400px){
    .modalProfilImage{
        width: 100px;
        margin-top:15px;
        margin-right: 15px;
        height:auto;
    }

    .modalTitle{
        margin-top: 15px;
        color:midnightblue;
    }
}